<html>
<head>
    <title>$i18n.getText('project.level.attachments.heading')</title>
    <meta name="decorator" content="atl.general"/>
</head>
<body>
    <header class="aui-page-header">
        <h1>$i18n.getText('project.level.attachments.heading')</h1>
    </header>

    <div class="aui-page-panel">
    <div class="aui-page-panel-inner">



    <section class="aui-page-panel-content">

    #if ($hasErrorMessages)
    <div class="aui-message error">
        <p class="title">
            <span class="aui-icon icon-error"></span>
            <strong>$i18n.getText('g2g.plugin.common.error')</strong>
        </p>
        <ul>
            <li>$message</li>
        </ul>
    </div>
    #end
    #if ($error)
        <div class="aui-message error">
                <p class="title">
                    <span class="aui-icon icon-error"></span>
                    <strong>Error!</strong>
                </p>
                $error
            </div>
    #end

    #if($redirectUrl)
        <p>
            <button class="aui-button" onclick="window.location='$redirectUrl';">Try again</button>
            <!--<a class="aui-button aui-button-primary" href="$baseurl/plugins/servlet/uploadProjectAttachments?project=$project.getKey()">Add attachment</a>-->
        </p>
        #end

    </section>



        </div>
        </div>
    </body>
    </html>