<tr bgcolor=ffffff>
    <td bgcolor="ffffff" nowrap colspan="2">
		<span class="label">$i18n.getText('add.comment.function.edit.label')</span>
		<textarea class="textarea" id="pfcomment" name="comment" rows="5" style="width:50%">$!enteredComment</textarea>
    </td>
</tr>
