##disable_html_escaping() TODO REENABLE
#customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams)

    #if ($value)
        #set ($selectedValues = $value)
    #end
    #if ($canview.booleanValue())
	    <select class="select" id="$customField.id" multiple="multiple" name="$customField.id" size="5">
		    #if ($fieldLayoutItem && $fieldLayoutItem.required == false)
			    <option value="-1"#if (!$selectedValues || $selectedValues.empty || $selectedValues.contains("-1")) selected="selected"#end>${i18n.getText('common.words.none')}</option>
		    #end
		    #foreach ($option in $configs.options)
			    #if(!$option.disabled || $option.disabled == false || ($selectedValues && $selectedValues.contains($option.optionId.toString())))
				    <option#if ($selectedValues && $selectedValues.contains($option.optionId.toString())) selected="selected"#end value="$option.optionId">
					    $cfValueEncoder.encodeForHtml($option.value)
				    </option>
			    #end
		    #end
	    </select>
    #else
	    <i><span style="color:#ff0000;">Access Restricted</span></i>
		    #if($value.size() == 0)
			    <input type="hidden" id="$customField.id" name="$customField.id" value="-1"/>
		    #else
			    #foreach ($v in $value)
				    <input type="hidden" id="$customField.id" name="$customField.id" value="$v"/>
			    #end
		    #end
    #end

#customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams)