#controlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters.noHeader)
    #if ($value)
        #set ($selectedValues = $value)
    #end

    <select name="$customField.id" id="$customField.id"
        multiple size="5">
        #if ($fieldLayoutItem && $fieldLayoutItem.required == false)
            <option value="-1"#if (!$selectedValues || $selectedValues.empty || $selectedValues.contains("-1")) selected #end>${i18n.getText('common.words.none')}</option>
        #end
        #foreach ($option in $values)
            <option value="$textutils.htmlEncode($option)"
                #if ($selectedValues && $selectedValues.contains($option))selected#end
                >$option</option>
        #end
    </select>

#controlFooter ($action $fieldLayoutItem.fieldDescription $displayParameters.noHeader)