#customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams)
#if ($canview.booleanValue())
	#userPicker ($action $customField.id $value false $null "" $canPerformAjaxSearch $ajaxLimit)
#else
<i><span style="color:#ff0000">Access Restricted</span></i><input type="hidden" id="$customField.id" name="$customField.id" value="$textutils.htmlEncode($!value)"/>
#end
#customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams)
