##disable_html_escaping() TODO REENABLE
#if ($canview.booleanValue())
	#if ($value)
		#foreach ($singleValue in $value)
		<customfieldvalue><![CDATA[$xmlutils.escapeForCdata($!singleValue.getName())]]></customfieldvalue>
		#end
	#end
#else
	<customfieldvalue>Access Restricted</customfieldvalue>
#end	