##disable_html_escaping() TODO REENABLE
#if ($canview.booleanValue())
	#if ($value)
		<customfieldvalue key="$value.optionId"><![CDATA[$xmlutils.escapeForCdata($value.toString())]]></customfieldvalue>
	#end
#else
	<customfieldvalue>Access Restricted</customfieldvalue>
#end