<html>
<head>
    <meta name="decorator" content="atl.admin">
    <title>$i18n.getText("bulk.delete.projects-heading")</title>
</head>
<body>
<div class="aui-message success">
    <p class="title">
        <span class="aui-icon icon-success"></span>
        <strong>$i18n.getText("g2g.plugin.common.success")</strong>
    </p>
    <p>Projects deleted successfully.</p>
</div>
</body>
</html>