<html>
<head>
    <meta name="decorator" content="atl.admin">
    <title>$i18n.getText('assign-groups.heading')</title>
</head>
<body>

<h1>$i18n.getText('assign-groups.heading')</h1>

#if ($hasErrorMessages)
<div class="aui-message error">
    <p class="title">
        <span class="aui-icon icon-error"></span>
        <strong>$i18n.getText("g2g.plugin.common.error")</strong>
    </p>
    <ul>
        #foreach( $message in $errorMessages )
        <li>$message</li>
        #end
    </ul>
</div>
#end

<form name="assign-groups-form" action="AssignGroups!execute.jspa" class="aui">
    <fieldset>
    <table class="aui">
        <tbody>
            <tr>
                <td>
                    <div class="field-group">
                        <label for="selectedGroups">$i18n.getText('assign-groups-select-group.label')</label>
                        <select name="selectedGroups" id="selectedGroups" multiple="multiple" class="multi-select">
                            #foreach($group in $groups)
                                <option value="$group.getName()">$group.getName()</option>
                            #end
                        </select>
                        <div class="description">$i18n.getText('assign-groups-select-group.description')</div>
                    </div>
                </td>
                <td>
                    <div class="field-group">
                        <label for="usernames">$i18n.getText('assign-groups-enter-username.label')</label>
                        <textarea id="usernames" name="usernames" class="textarea"></textarea>
                        <div class="description">$i18n.getText('assign-groups-enter-username.description')</div>
                    </div>
                </td>
            </tr>
        </tbody>
        </table>
        </fieldset>
        <div class="buttons-container">
            <div class="buttons">
                <input class="button submit" type="submit" value="$i18n.getText('g2g.plugin.common.submit')" id="comment-save-button">
                <a class="cancel" href="$baseurl/plugins/servlet/upm/marketplace">$i18n.getText('g2g.plugin.common.cancel')</a>
            </div>
        </div>
    </form>

</body>
</html>