#if($renderedValue)
<customfieldvalue>$xmlutils.escape($renderedValue)</customfieldvalue>
#elseif ($value)
#set($i = 0)
#foreach($value in $values)
    #set($paintRule=$paintRules.get($i))
    <customfieldvalue><![CDATA[$xmlutils.escapeForCdata($value.toString()) - #$xmlutils.escapeForCdata($paintRule.colour)]]></customfieldvalue>
    #set($i = $i + 1)
#end
#end
