<tr bgcolor=ffffff>
	<td bgcolor="ffffff" nowrap style="text-align:right;">
		<span class="label">$i18n.getText('field.membership.validator.user.field')</span>
	</td>
    <td bgcolor="ffffff" nowrap>
		<select class="select" id="userfield" name="userfield">
			#foreach($field in $userjirafield.keySet())
			<option value="$field">$userjirafield.get($field)</option>
			#end
			
			#foreach($field in $usercustomfield)
			<option value="$field.id">$field.name</option>
			#end
		</select>
    </td>
</tr>
<tr bgcolor=ffffff>
	<td bgcolor="ffffff" nowrap style="text-align:right;">
		<span class="label">$i18n.getText('field.membership.validator.group.field')</span>
	</td>
    <td bgcolor="ffffff" nowrap>
		<select class="select" id="group" name="group" multiple="multiple">
			#foreach($g in $groups)
			<option value="$g.name">$g.name</option>
			#end
		</select>
    </td>
</tr>